.cp-toevoegen {
	max-width: 1400px;
	margin: auto;
	padding: 20px;
}

h1 {
	color: #000000;
	font-weight: bold;
}

h2, a {
	font-size: 1em;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#champignon-profiel-table {
  justify-content: center;
  align-items: left;
  color: black;
}