h1 {
	color: #000000;
	font-weight: bold;
}

h2, a {
	font-size: 1em;
	color: #000000;
	font-weight: bold;
	text-decoration: none;
}

#device-table {
  justify-content: center;
  align-items: left;
  color: black;
}