button a {
	color: black;
}

.devices-overzicht {
	max-width: 1400px;
	margin: auto;
	padding: 20px;
}

#devices-table {
	font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#devices-table td, #devices-table th {
  border: 1px solid #ddd;
  padding: 10px;
  min-width: 3em; 
  width: 3em;
  max-width: 3em;
}

#devices-table tr:nth-child(even){background-color: #f2f2f2;}

#devices-table tr:hover {background-color: #ddd;}

#devices-table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}