* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

html {
  font-size: 10px;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url('../images/homepage-banner.jpg');

  /* Set a specific height */
  height: 45vh;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

a {
	color: #4CAF50;
  text-decoration: none;
}

button {
	padding: 5px;
}

button a {
	color: black;
}

h1 {
	padding: 10px 0px 10px 0px;
	font-size: 24px;
	color: #4CAF50;
	font-weight: bold;
}

span {
	color: #4CAF50;
}

.container {
	max-width: 1800px;
	margin: auto;
	width: 100%;
	align-items: center;
  	justify-content: center;
  	clear: both;
  	overflow: auto;
}

.navigation-bar {
	padding: 0px 25px;
}

.navigation-bar a {
	text-decoration: none;
	color: black;
}

.brand {
	float: left;
  	font-size: 3rem;
  	font-weight: bold;
  	text-transform: uppercase;
}

.brand ul li {
  display: inline-block; 
  padding: 10px;
  font-size: 35px;
}

.navigation-list {
	float:right;
}

.navigation-list ul li {
  display: inline-block; 
  padding: 10px;
  font-size: 20px;
}
.navigation-list ul li a:hover{
  color: #4CAF50;
}
.navigation-list ul li:hover{
  color: orange;
}

.overzicht {
	max-width: 1400px;
	margin: auto;
	padding: 20px;
}

#table {
	font-size: 13px;
  border-collapse: collapse;
  width: 100%;
}

#table td, #table th {
  border: 1px solid #ddd;
  padding: 10px;
  min-width: 3em; 
  width: 3em;
  max-width: 3em;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #4CAF50;
  color: white;
}

#table td {
	padding: 5px;
  	font-size: 13px;
}

#table th a {
	background-color: #4CAF50;
	color: white;
}

.pagination {
	text-align: center;
	font-size: 18px;
	margin-bottom: 10px;
	color: #000000;
}

.pagination a {
	color: #000000;
}

.pagination currentLogboekPage {
	color: #4CAF50;
}

#table-edit {
	justify-content: center;
	align-items: left;
	color: black;
}

#table-edit td {
	font-size: 14px;
}

#table-edit td, button {
	margin-top: 10px;
}

#table-edit select {
	width: 100%;
}