<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Mushroom Farm - Batch Toevoegen</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom <span>Farm</span></a></li>
				</ul>
  			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/logboek">Logboek</a></li>
					<li><a href="/metingen">Metingen</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/devices">Devices</a></li>
					<li><a href="/batches">Batches</a></li>
				</ul>
  			</div>
		</div>
	</div>
	<hr>
	
	<div align="center">
	
    	<h1>Batch Toevoegen</h1>
    	<br/>
    	
	    <form action="#" th:action="@{/batch/save}" th:object="${batch}" onsubmit="required()" method="post">
	        <table id="#table-edit" border="0" cellpadding="10">
	            <tr>
	                <td>Champignon ID:</td>
	                <td>
	               		<select required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{champignon_id}">
	               			<option id="selectedItem" value=""> -- </option>
	               			<option value = "1">1. Witte Champignon - Fijn - 25</option>
	               			<option value = "2">2. Witte Champignon - Middelgroot - 30</option>
	               			<option value = "3">3. Witte Champignon - Reuze - 35</option>
	               			<option value = "4">4. Bruine Champignon - Fijn - 25</option>
	               			<option value = "5">5. Bruine Champignon - Middelgroot - 30</option>
	               			<option value = "6">6. Bruine Champignon - Reuze - 35</option>
	               			<option value = "7">7. Portobello Champignon - Fijn - 25</option>
	               			<option value = "8">8. Portobello Champignon - Middelgroot - 30</option>
	               			<option value = "9">9. Portobello Champignon - Reuze - 35</option>
		                </select>
		            </td>
	            </tr>
	            <tr>
	                <td>Device ID:</td>
	                <td>
	               		<select required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{device_id}">
	               			<option id="selectedItem" value=""> -- </option>
	               			<option value = "0059AC00001B04A4">Arduino David</option>
	               			<option value = "0059AC00001B04A6">Arduino Dennis</option>
	               			<option value = "0059AC00001B04A9">Arduino Khanh Long</option>
		                </select>
		            </td>
	            </tr>
	            <tr>
	                <td>Champignon Soort:</td>
	                <td>
	               		<select required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{champignon_soort}">
	               			<option id="selectedItem" value=""> -- </option>
	               			<option value = "Witte Champignon">Witte Champignon</option>
	               			<option value = "Bruine Champignon">Bruine Champignon</option>
	               			<option value = "Portobello Champignon">Portobello Champignon</option>
		                </select>
		            </td>
	            </tr>
	            <tr>
	           	<td>Grootte:</td>
	                <td>
	               		<select required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{grootte}">
	               			<option id="selectedItem" value=""> -- </option>
	               			<option value = "Fijn">Fijn</option>
	               			<option value = "Middelgroot">Middelgroot</option>
	               			<option value = "Reuze">Reuze</option>
		                </select>
		            </td>
	            </tr>
	            <tr>
	            <td>Groeitijd:</td>	            
	                <td>
	               		<select required pattern=".*\S+.*" title="Dit is een verplicht veld" th:field="*{groeitijd}">
	               			<option id="selectedItem" value=""> -- </option>
	               			<option value = "25">25</option>
	               			<option value = "30">30</option>
	               			<option value = "35">35</option>
		                </select>
		            </td>
	            </tr>
	            <tr>
	                <td colspan="2"><button type="submit">Toevoegen</button> </td>
	            </tr>
	        </table>
	    </form>
	    
	</div>
    
</body>
</html>