<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Mushroom Farm - Devices</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    <link href="../static/css/batch.css" th:href="@{/css/batch.css}" rel="stylesheet" />
</head>
<body>
    <div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom <span>Farm</span></a></li>
				</ul>
  			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/">Sectoren</a></li>
					<li><a href="/logboek">Logboek</a></li>
					<li><a href="/metingen">Metingen</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/device">Devices</a></li>
					<li><a href="/batch">Batches</a></li>
				</ul>
  			</div>
		</div>
	</div>
	<hr>
    <div class="batches-overzicht">
    	<h1>Devices</h1>
    	<br/>
	    <table id="batches-table">
			<tbody>
			  <tr>
			    <th>Batch ID</th>
			    <th>Champignon ID</th>
			    <th>Device ID</th>
			    <th>Champignon Soort</th>
			    <th>Grootte</th>
			    <th>Groeitijd</th>
			  </tr>
			  <tr th:each="batch : ${listBatch}">
			    <td th:text="${batch.batch_id}">Batch ID</td>
			    <td th:text="${batch.champignon_id}">Champignon ID</td>
			    <td th:text="${batch.device_id}">Device ID</td>
			    <td th:text="${batch.champignon_soort}">Champignon Soort</td>
			    <td th:text="${batch.grootte}">Grootte</td>
			    <td th:text="${batch.groeitijd}">Groeitijd</td>
			  </tr>
		  	</tbody>
		</table>
		
		<br/>
		<!-- <button><a href="/device/toevoegen">Toevoegen</a></button> -->
		<!-- <button><a href="/device/{device_id}/aanpassen">Aanpassen</a></button> -->
	</div>
    <div id="bottomLine" class="line"></div>
</body>
</html>