<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Mushroom Farm - Devices</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="../static/css/device.css" th:href="@{/css/device.css}" rel="stylesheet" />
</head>
<body>
    <div id="topBar">
        <!-- <img onclick="window.location.href = '/'" id="logo" src="images/Ticket-Theater_logo-wit-rood.PNG"/> -->
		<table id="topBarMenu">
			<tr>
				<td onclick="window.location.href = '/device'">Devices</td>
			</tr>
		</table>
        
    </div>
    <div class="line"></div>
    	<div id="fullWhite">
    		<table id="devices-table">
			    <tbody class="devices-table-tbody" th:each="device : ${listDevices}">
			    	<tr class="devices-table-tr">
			        	<th class="devices-table-th" colspan="1" th:text="${device.deviceNaam}">deviceNaam</th>
			        </tr>
			        <tr class="devices-table-tr">
			        	<td class="devices-table-td" colspan="2" th:text="${device.sectorNaam}">sectorNaam</td>
			    </tbody>
			</table>
    		  		
    	</div>
    <div id="bottomLine" class="line"></div>
</body>
</html>