<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Mushroom Farm</title>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
    <link href="../static/css/style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom <span>Farm</span></a></li>
				</ul>
  			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/">Sectoren</a></li>
					<li><a href="/">Logboek</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/device">Devices</a></li>
					<li><a href="/batch">Batches</a></li>
				</ul>
  			</div>
		</div>
	</div>
	<hr>
    
</body>
</html>