<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Mushroom Farm</title>
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
	rel="stylesheet">
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<link href="../static/css/logboek.css" th:href="@{/css/logboek.css}"
	rel="stylesheet" />
	<meta http-equiv="refresh" content="60">
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom Farm</a></li>
				</ul>
			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/">Sectoren</a></li>
					<li><a href="/logboek">Logboek</a></li>
					<li><a href="/metingen">Metingen</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/device">Devices</a></li>
					<li><a href="/batch">Batches</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>

	<div class="logboek-overzicht">
		<h1>Logboek</h1>
		<br />
		<table id="logboek-table">
			<tbody>
				<tr>
					<th>Meting ID</th>
					<th>Datum</th>
					<th>Sectornaam</th>
					<th>Champignonsoort</th>
					<th>Grootte</th>
					<th>Melding</th>
					<th>Waarde</th>
				</tr>
				<tr th:each="logboek : ${listChampignonlogboek}">
					<td th:text="${logboek.meting_id}">Meting ID</td>
					<td th:text="${logboek.datum}">Datum</td>
					<td th:text="${logboek.sectornaam}">Sectornaam</td>
					<td th:text="${logboek.champignon_soort}">Champignonsoort</td>
					<td th:text="${logboek.grootte}">Grootte</td>
					<td th:text="${logboek.melding}">Melding</td>
					<td th:text="${logboek.waarde}">Waarde</td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>