<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Mushroom Farm</title>
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
	rel="stylesheet">
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom Farm - Logboek</a></li>
				</ul>
			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/">Sectoren</a></li>
					<li><a href="/">Logboek</a></li>
					<li><a href="/">Profielen</a></li>
					<li><a href="/">Metingen</a></li>
					<li><a href="/device">Devices</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>
	<table>
		<tr>
			<th>Device-ID</th>
			<th>Datum</th>
			<th>Champignonsoort</th>
			<th>Grootte</th>
			<th>Melding</th>
			<th>Gemeten waarde</th>
		</tr>
		<tr>
			<td>0059AC00001B04A4</td>
			<td>09:55:51 2021-01-11</td>
			<td>Portobello</td>
			<td>Fijn</td>
			<td>De luchtvochtigheid is te laag!</td>
			<td>Luchtvochtigheid: 44%</td>
		</tr>
		<tr>
			<td>0059AC00001B04A6</td>
			<td>12:56:22 2021-01-11</td>
			<td>Witte champignon</td>
			<td>Middelgroot</td>
			<td>De lichtsterkte is te hoog!</td>
			<td>Lichtsterkte: 255lx</td>
		</tr>
	</table>
</body>
</html>