<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Mushroom Farm</title>
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
	rel="stylesheet">
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<link href="../static/css/metingen.css" th:href="@{/css/metingen.css}"
	rel="stylesheet" />
	<meta http-equiv="refresh" content="60">
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom <span>Farm</span></a></li>
				</ul>
			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/">Sectoren</a></li>
					<li><a href="/logboek">Logboek</a></li>
					<li><a href="/metingen">Metingen</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/device">Devices</a></li>
					<li><a href="/batch">Batches</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>

	<div class="metingen-overzicht">
		<h1>Metingen</h1>
		<br />
		<table id="metingen-table">
			<tbody>
				<tr>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=metingen&sortDir=' + ${reverseSortDir}}">
					Meting ID
					</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=device&sortDir=' + ${reverseSortDir}}">
					Device ID
					</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=datum&sortDir=' + ${reverseSortDir}}">
					Datum
					</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=lux&sortDir=' + ${reverseSortDir}}">
					Lux
					</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=temperatuur&sortDir=' + ${reverseSortDir}}">
					Temperatuur
					</a>
					</th>
					<th>
					<a th:href="@{'/page/' + ${currentMetingPage} + '?sortField=luchtvochtigheid&sortDir=' + ${reverseSortDir}}">
					Luchtvochtigheid
					</a>
					</th>
				</tr>
				<tr th:each="meting : ${listMetingen}">
					<td th:text="${meting.metingen}">Meting ID</td>
					<td th:text="${meting.device}">Device ID</td>
					<td th:text="${meting.datum}">Datum</td>
					<td th:text="${meting.lux} + ' lx'">Lux</td>
					<td th:text="${meting.temperatuur} + ' °C'">Temperatuur</td>
					<td th:text="${meting.luchtvochtigheid} + ' %'">Luchtvochtigheid</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div>&nbsp;</div>
	<div class="pagination"> 
		Total Items:[[${totalMetingen}]] - Page [[${currentMetingPage}]] of
		[[${totalMetingPages}]] 
		&nbsp; - &nbsp;
		
		<a th:if="${currentMetingPage>1}" th:href="@{/page/1?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">First</a>
		<span th:unless="${currentMetingPage>1}">First</span>
		&nbsp;&nbsp;
		
		<a th:if="${currentMetingPage > 1}" th:href="@{'/page/' + ${currentMetingPage - 1}  + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Previous</a>
		<span th:unless="${currentMetingPage > 1}">Previous</span>
		&nbsp;&nbsp;
		
		<span th:each="i: ${#numbers.sequence(1,totalMetingPages)}">
			<a th:if="${i != currentMetingPage}" th:href="@{'/page/' + ${i}} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}">[[${i}]]</a> &nbsp;&nbsp;
			<span th:unless="${i != currentMetingPage}">[[${i}]]</span> 
			&nbsp;&nbsp;
		</span>
		
		<a th:if="${currentMetingPage < totalMetingPages}" th:href="@{'/page/' + ${currentMetingPage + 1} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Next</a>
		<span th:unless="${currentMetingPage < totalMetingPages}">Next</span>
		&nbsp;&nbsp;
		
		
		<a th:if="${currentMetingPage < totalMetingPages}" th:href="@{'/page/' + ${totalMetingPages} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentMetingPage < totalMetingPages}">Last</span>
		&nbsp;&nbsp; 
		
	</div>
</body>
</html>