<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Mushroom Farm - Metingen Overzicht</title>
<link
	href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
	rel="stylesheet">
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" />
<meta http-equiv="refresh" content="60">
</head>
<body>

	<div class="container">
		<div class="navigation-bar">
			<div class="brand">
				<ul>
					<li><a href="/">Mushroom <span>Farm</span></a></li>
				</ul>
			</div>
			<div class="navigation-list">
				<ul>
					<li><a href="/logboek">Logboek</a></li>
					<li><a href="/metingen">Metingen</a></li>
					<li><a href="/champignon-profielen">Profielen</a></li>
					<li><a href="/devices">Devices</a></li>
					<li><a href="/batches">Batches</a></li>
				</ul>
			</div>
		</div>
	</div>
	<hr>

	<div class="overzicht">
		<h1>Metingen Overzicht</h1>
		<br />
		<table id="table">
			<tbody>
				<tr>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=meting&sortDir=' + ${reverseSortDir}}">
							Meting ID </a></th>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=device&sortDir=' + ${reverseSortDir}}">
							Device ID </a></th>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=datum&sortDir=' + ${reverseSortDir}}">
							Datum </a></th>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=lux&sortDir=' + ${reverseSortDir}}">
							Lux </a></th>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=temperatuur&sortDir=' + ${reverseSortDir}}">
							Temperatuur </a></th>
					<th><a
						th:href="@{'/metingen/page/' + ${currentMetingPage} + '?sortField=luchtvochtigheid&sortDir=' + ${reverseSortDir}}">
							Luchtvochtigheid </a></th>
				</tr>
				<tr th:each="meting : ${listMetingen}">
					<td th:text="${meting.meting}">Meting ID</td>
					<td th:text="${meting.device}">Device ID</td>
					<td th:text="${meting.datum}">Datum</td>
					<td th:text="${meting.lux} + ' lx'">Lux</td>
					<td th:text="${meting.temperatuur} + ' °C'">Temperatuur</td>
					<td th:text="${meting.luchtvochtigheid} + ' %'">Luchtvochtigheid</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="pagination">
		Total Items:[[${totalMetingen}]] - Page [[${currentMetingPage}]] of
		[[${totalMetingPages}]] <a th:if="${currentMetingPage>1}"
			th:href="@{/metingen/page/1?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">First</a>
		<span th:unless="${currentMetingPage>1}">First</span> <a
			th:if="${currentMetingPage > 1}"
			th:href="@{'/metingen/page/' + ${currentMetingPage - 1}  + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Previous</a>
		<span th:unless="${currentMetingPage > 1}">Previous</span> <span
			th:each="i: ${#numbers.sequence(1,totalMetingPages)}"> <a
			th:if="${i != currentMetingPage}"
			th:href="@{'/metingen/page/' + ${i}} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}">[[${i}]]</a>
			<span th:unless="${i != currentMetingPage}">[[${i}]]</span>
		</span> <a th:if="${currentMetingPage < totalMetingPages}"
			th:href="@{'/metingen/page/' + ${currentMetingPage + 1} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Next</a>
		<span th:unless="${currentMetingPage < totalMetingPages}">Next</span>


		<a th:if="${currentMetingPage < totalMetingPages}"
			th:href="@{'/metingen/page/' + ${totalMetingPages} + '?sortField=' + ${sortField } + '&sortDir=' + ${sortDir}}">Last</a>
		<span th:unless="${currentMetingPage < totalMetingPages}">Last</span>

	</div>
</body>
</html>